{% extends "main/base.html" %}
 {% load i18n %}
 
{% block title %} SEED| Oops.. {% endblock %}
 

{% block content %}

<div class="container">
<div class="col-md-4">
</div>
<div class="col-xs-12 col-md-6">
<p> Sorry Buddy. Cross-check the url again. </p>

</div>
</div>

{% endblock %}