{% extends "main/base.html" %}
 {% load i18n %}
 
{% block title %} SEED| Oops.. {% endblock %}
 

{% block content %}

<div class="container">
<div class="col-md-4">
</div>
<div class="col-xs-12 col-md-6">
<div class="col-xs-12 col-md-8">
<p> Sorry Buddy. Our engineers are working on feeding the bug. Check back later or refresh. </p>

	
</div>
</div>
</div>

{% endblock %}