{% extends 'main/base.html' %}
{% block title %} Add | SEED {% endblock %}

{% block content %}

	<p> Add Data </p>
		
	<center>
    {% if messages %}
    <ul class="messages">
       {% for message in messages %}
          <div class="alert alert-danger">  {{message}} </div>		  
        {% endfor %}
     </ul>
   {% endif %}
  </center>
	
	<form method="post" action="">
	
		{% csrf_token %} 
		
		{{ form.as_p }}
			   
		<input type="submit"  class="" value="SUBMIT" />
			
			
	</form>


{% endblock %}