<!DOCTYPE html>
<html lang="en">
 {% load staticfiles %}
<head>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href= "{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">
	<meta name="description" content="">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<link type="text/css" href="{% static 'asset/bootstrap.min.css' %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title> {% block title %} {% endblock %} </title> 
	 

	
</head>


{% block header_navigation %}
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="{% url 'homepage' %}"><img src="#" alt="" width="135px" height="68px" title="" /></a>
	</div>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav navbar-right plink">
				<li><a href="#">Listings</a></li>
				<li><a href="#">Add List</a></li>
			</ul>
        </div>
		</div>
</nav>		
</header>
{% endblock %}


<body>
{% block content %} 

{% endblock %}

</body>
<footer>
{% block footer %}
<div class="col-md-12 col-xs-12 foxer">
   
    <p class="navbar-text pull-left cpright"><strong>© 2017 - Seed</strong>
           <a href="#" target="_blank" ></a>
      </p>
  </div>
{% endblock %}

</footer>
</html>


	




	