{% extends 'main/base.html' %}
{% block title %} Welcome | SEED {% endblock %}

{% block content %}

		<h2> Welcome Home Buddy, Go Ahead And Make a Move! </h2>
		<p><a href="{% url 'add_tester' %}">Add List</a> or <a href="{% url 'list_tester' %}">Listings</a> </p>


{% endblock %}