{% extends 'main/base.html' %}
{% block title %} View | SEED {% endblock %}

{% block content %}

	{% for dem_list in all_tests %}
		<p> <strong> First Name</strong>: {{dem_list.first_name|capfirst}} </p>
		<p> <strong> Last Name</strong>: {{dem_list.last_name|capfirst}} </p>
		<p> <strong> Email</strong>: {{dem_list.email_address|capfirst}} </p>

	{% empty %}
		<p> Sorry buddy, no data added yet. </p>
	
	{% endfor %}
	
{% endblock %}